# Binaries
broker
sink
source
splitter
worker

# Backups
Makefile~
*.py~
*.cc~
*.h~

# Compiled Object files
*.pyc
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
